<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Quotes</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{{url_for('static', filename='jscolor/jscolor.js')}}"></script>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Quotes</h1>
		</div>
		<div id="content">
			<p class="header">Instructions:</p>
			<p class="text">Insert the quote you want to generate an image for. Then, change the settings to your liking. Finally, click the generate button to generate your image. It can then be saved to your desktop.</p>
			<form action="" method="post">
				<label for="quote">Quote:</label><span style="font-size: 8px; font-style: italic;"> Max 255 characters</span>
				<textarea name="quote" style="width: 100%; height: 100px;"></textarea>
				<table>
					<tr>
						<td>
							<label for="font">Font:</label><br />
							<select name="font">
								{% for font in fonts -%}
									<option value="{{font}}">{{font}}</option>
								{% endfor -%}
							</select>
						</td>
						<td>
							<label for="fontcolor">Font Color:</label><br />
							<input class="color" name="fontcolor">
						</td>
						<td>
							<label for="bgcolor">Background Color:</label><br />
							<input class="color" name="bgcolor">
						<td>
							<label for="quotemarks">Show quotation marks?</label>
							<input type="checkbox" name="quotemarks" value="True">
						</td>
					</tr>
				</table>
				<p style="text-align: right;"><input type="submit" value="Submit"></p>
			</form>
		</div>
	</div>
	<div id="footer">
		<p><a href="https://github.com/Hacym/quote/" target="_blank"><img src="{{url_for('static', filename='github.png')}}" alt="GitHub"><br />Fork me on GitHub</a></p>
	</div>
</body>
</html>