<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<title>Quotes</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{{url_for('static', filename='jscolor/jscolor.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='jquery.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
	<script type="text/javascript">
		function updateFont(color) {
			document.getElementById('font-r').value = color.rgb[0] * 100 +"%";
			document.getElementById('font-g').value = color.rgb[1] * 100 +"%";
			document.getElementById('font-b').value = color.rgb[2] * 100 +"%";
		}
		function updateBG(color) {
			document.getElementById('bg-r').value = color.rgb[0] * 100 +"%";
			document.getElementById('bg-g').value = color.rgb[1] * 100 +"%";
			document.getElementById('bg-b').value = color.rgb[2] * 100 +"%";
		}
	</script>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Quotes</h1>
		</div>
		<div style="clear:both;"></div>
		<div id="content">
			<p class="header">Instructions:</p>
			<p class="text">Insert the quote you want to generate an image for. Then, change the settings to your liking. Finally, click the generate button to generate your image. It can then be saved to your desktop.</p>
			<form method="post" id="form">
				<label for="quote">Quote:</label><span style="font-size: 8px; font-style: italic;"> Max 255 characters</span>
				<textarea name="quote" style="width: 100%; height: 100px;"></textarea>
				<label for="attribution">Attribution:</label><br />
				<input type="text" name="attribution" style="width: 250px;">
				<table>
					<tr>
						<td>
							<label for="font">Font:</label><br />
							<select name="font">
								{% for font in fonts -%}
									<option value="{{font}}">{{font}}</option>
								{% endfor -%}
							</select>
						</td>
						<td>
							<label for="fontcolor">Font Color:</label><br />
							<input class="color {onImmediateChange:'updateFont(this);'}" name="fontcolor">
							<input type="hidden" id="font-r" name="font-r" value="0%">
							<input type="hidden" id="font-g" name="font-g" value="0%">
							<input type="hidden" id="font-b" name="font-b" value="0%">
						</td>
						<td>
							<label for="bgcolor">Background Color:</label><br />
							<input class="color {onImmediateChange:'updateBG(this);'}" name="bgcolor">
							<input type="hidden" id="bg-r" name="bg-r" value="0%">
							<input type="hidden" id="bg-g" name="bg-g" value="0%">
							<input type="hidden" id="bg-b" name="bg-b" value="0%">
						<td style="width: 250px;">
							<label for="quotemarks">Show quotation marks?</label>
							<select name="quotemarks" class="quotemarks">
								<option value="True">Yes</option>
								<option value="False">No</option>
							</select>
							<br />
							<label for="logo" class="logo">Show a logo?</label>
							<select name="logo" class="logo">
								<option value="False">No</option>
								<option value="True">Yes</option>
							</select>
							<br />
							{% if logos != False %}
								<label for="imagefile" class="imagefile">Choose a logo:</label>
								<select name="imagefile" class="imagefile">
									{% for logo in logos %}
										<option value="{{logo}}">{{logo}}</option>
									{% endfor %}
								</select>
							{% else %}
								<span class="imagefile" style="color:red;">No logos were found. Please place logo files in app/static/logos as png files.</span>
							{% endif %}
						</td>
						<td>
							<label for="size">Size:</label>
							<select name="size">
								<option value="small">Small - 300px x 200px</option>
								<option value="medium">Medium - 600px x 400px</option>
								<option value="large">Large - 1200px x 800px</option>
								<option value="xlarge">Extra Large - 2400px x 1600px</option>
							</select>
						</td>
					</tr>
				</table>
				<p style="text-align: right;"><input type="reset" value="Clear!" id="clear"></p>
			</form>
			<div id="image">
				<p class="header" style="text-align: left;">Your image:</p>
				<p><img id="previewimage"></p>
			</div>
			<div id="error">
			</div>
		</div>
		<div id="footer">
			<p class="nav">
				Home | Documentation | GitHub
			</p>
			<p><a href="https://github.com/Hacym/quote/" target="_blank"><img src="{{url_for('static', filename='github.png')}}" alt="GitHub"><br />Fork me on GitHub</a></p>
		</div>
	</div>
</body>
</html>